/* adjust values as needed */
.header {
  padding: 20px 40px;
  max-width: 1100px;
  margin-inline: auto;
  max-height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  gap: 20px;
}

.menuButtonsContainer {
  display: none;
}

.header ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;

  gap: 20px;
}

/* mobile */

@media screen and (max-width: 500px) {
  .header {
    position: relative;
  }

  .menuButtonsContainer {
    display: block;
  }

  .header button {
    background-color: transparent;
    border: transparent;

    /* should be in global.css */
    cursor: pointer;
  }

  .header svg {
    fill: #fff;
    transition: fill 0.3s;
  }

  .header svg:hover {
    fill: red;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    /* adjust values based on project */
    top: 0;
    right: 0;
    text-align: end;
    z-index: -1;
    transition: all 0.3s;

    background-color: grey;
    width: 200px;
    height: 100vh;

    /* add overflow-x:hidden to global.css */
  }

  .header ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 50px;
  }

  /* HELPER CLASSES */
  .hidden {
    display: none;
  }

  .offScreen {
    transform: translateX(200px);
  }

  .onScreen {
    transform: translateX(0);
  }
}
